Consider rejecting tag-lists with duplicate tag names

Hello,

[RFC 6376 section 3.2](https://www.rfc-editor.org/rfc/rfc6376#section-3.2) states that:
> DKIM uses a simple "tag=value" syntax in several contexts, including
   in messages and domain signature records.

> Tags with duplicate names MUST NOT occur within a single tag-list; if
   a tag name does occur more than once, the entire tag-list is invalid.

However [`parseHeaderParams`](https://github.com/emersion/go-msgauth/blob/master/dkim/header.go#L74) will just take the last tag value. In contrast, `dkimpy` will just reject such a tag list: https://git.launchpad.net/dkimpy/tree/dkim/util.py#n73

I think that go-msgauth should consider rejecting them to be consistent with other implementations and with the RFC.

Sounds like a good idea to me, this can potentially be a security issue if some tools pick the first and other tools pick the last. Patches welcome.

I think `fmt.Errorf("dkim: duplicate %q tag", key)` would be a good error message? Could also add `key = strings.TrimSpace(key)` at the start of that code block to avoid repetition.

This seems fine. I have some doubts about whether the tag name should be included in the error message. Somebody could in theory be doing verification by checking if the command output contains `Valid` or by checking whether the header contains `pass` when using a milter. I know that it is very incorrect and shouldn't se done, but maybe we should anticipate such a scenario.

Right, I just noticed that the error message is included in the header - safer to not echo back any string then.