DKIM t=s key flag not supported

When `s` is in a key's flags list, then:

> Any DKIM-Signature header fields using the "i=" tag MUST have the same domain value on the right-hand side of the "@" in the "i=" tag and the value of the "d=" tag.  That is, the "i=" domain MUST NOT be a subdomain of "d=".  Use of this flag is RECOMMENDED unless subdomaining is required.

([RFC 6376 Section 3.6.1](
https://www.rfc-editor.org/rfc/rfc6376#section-3.6.1))

Currently, go-msgauth's DKIM verifier unconditionally allows the `i=` domain to be a subdomain of `d=`.

Good catch. Patches welcome!

issued a PR for this: #50 